 &wrfvar1
 check_max_iv_print                  = .false.,
 write_increments                    = .false.,
 /

 &wrfvar2
 /

 &wrfvar3
 /

 &wrfvar4
 use_synopobs                        = .false.,
 use_shipsobs                        = .false.,
 use_metarobs                        = .false.,
 use_soundobs                        = .false.,
 use_pilotobs                        = .false.,
 use_airepobs                        = .false.,
 use_geoamvobs                       = .false.,
 use_polaramvobs                     = .false.,
 use_bogusobs                        = .false.,
 use_buoyobs                         = .false.,
 use_profilerobs                     = .false.,
 use_satemobs                        = .false.,
 use_gpspwobs                        = .false.,
 use_gpsrefobs                       = .false.,
 use_qscatobs                        = .false.,
 use_radarobs                        = .false.,
 use_radar_rv                        = .false.,
 use_radar_rf                        = .false.,
 use_airsretobs                      = .false.,
 /

 &wrfvar5
 put_rand_seed                       = .true.,
 check_max_iv                        = .false.,
 /
 &wrfvar6
 max_ext_its                         = 1
 ntmax                               = 200,
 eps                                 = 0.01,
 /

 &wrfvar7
 cv_options                          = 3,
 as1                                 = 0.25, 1.0, 1.5,
 as2                                 = 0.25, 1.0, 1.5,
 as3                                 = 0.25, 1.0, 1.5,
 as4                                 = 0.25, 1.0, 1.5,
 as5                                 = 0.25, 1.0, 1.5,
 rf_passes                           = 6,
 var_scaling1                        = 0.25,
 var_scaling2                        = 0.25,
 var_scaling3                        = 0.25,
 var_scaling4                        = 0.25,
 var_scaling5                        = 0.25,
 je_factor                           = 1.0,
 /

 &wrfvar8
 /

 &wrfvar9
 trace_csv                           = .false.,
 use_html                            = .false.,
 /

 &wrfvar10
 /
 &wrfvar11
 cv_options_hum                      = 1,
 check_rh                            = 1,
 set_omb_rand_fac                    = 1.0,
 seed_array1                         = _SEED_ARRAY1_,
 seed_array2                         = _SEED_ARRAY2_,
 /

 &wrfvar12
 balance_type   = 1,
 /

 &wrfvar13
 vert_corr                           = 2,
 vertical_ip                         = 0,
 vert_evalue                         = 1,
 max_vert_var1                       = 99.0,
 max_vert_var2                       = 99.0,
 max_vert_var3                       = 99.0,
 max_vert_var4                       = 99.0,
 max_vert_var5                       = 0.0,
 /

 &wrfvar14
 /

 &wrfvar15
 num_pseudo                          = 0,
 /

 &wrfvar16
 /

 &wrfvar17
 analysis_type                       = 'RANDOMCV',
 /
 &wrfvar18
 analysis_date                       = '_ANALYSIS_DATE_.0000',
 /

 &wrfvar19
 /

 &wrfvar20
 /

 &wrfvar21
 /

 &wrfvar22
 /

 &wrfvar23
 /
 &time_control
 run_days                            = 0,
 run_hours                           = 0,
 run_minutes                         = 0,
 run_seconds                         = 0,
 start_year                          = _MAX_DOM_*_START_YEAR_,
 start_month                         = _MAX_DOM_*_START_MONTH_,
 start_day                           = _MAX_DOM_*_START_DAY_,
 start_hour                          = _MAX_DOM_*_START_HOUR_,
 start_minute                        = 00, 00, 00,
 start_second                        = 00, 00, 00,
 end_year                            = _MAX_DOM_*_END_YEAR_,
 end_month                           = _MAX_DOM_*_END_MONTH_,
 end_day                             = _MAX_DOM_*_END_DAY_,
 end_hour                            = _MAX_DOM_*_END_HOUR_,
 end_minute                          = 00,   00,   00,
 end_second                          = 00,   00,   00,
 interval_seconds                    = 21600
 input_from_file                     = .true., .true.,
 history_interval                    = 180,  360,
 frames_per_outfile                  = 1,  1,
 restart                             = .false.,
 restart_interval                    = 360,
 io_form_history                     = 2
 io_form_restart                     = 2
 io_form_input                       = 2
 io_form_boundary                    = 2
 frames_per_auxinput7                = 1,
 frames_per_auxinput6                = 1,
 frames_per_auxinput5                = 1,
 auxinput5_inname                    = 'wrfchemi_d<domain>_<date>'
 auxinput5_interval_m                = 60,
 auxinput7_inname                    = 'wrffirechemi_d<domain>_<date>'
 auxinput7_interval_m                = 60,
 auxinput6_inname                    = 'wrfbiochemi_d<domain>_<date>'
 auxinput6_interval_h                = 6,
 io_form_auxinput2                   = 2,
 io_form_auxinput5                   = 2,
 io_form_auxinput6                   = 2,
 io_form_auxinput7                   = 2,
!iofields_filename                   = 'hist_io_mods_moz_d01',
 all_ic_times                        = .true.,
 debug_level                         = 1000
 /

&domains
 time_step                           = 180,
 time_step_fract_num                 = 0,
 time_step_fract_den                 = 1,
 max_dom                             = _MAX_DOM_,
 e_we                                = 271,  90,
 e_sn                                = 101,  90,
 e_vert                              = 34,   36,
 num_metgrid_levels                  = 27,
 num_metgrid_soil_levels             = 4,
 dx                                  = 36000.,  40000,
 dy                                  = 36000.,  40000,
 grid_id                             = 1,     2,
 parent_id                           = 0,     1,
 i_parent_start                      = 1,     25,
 j_parent_start                      = 1,     10,
 parent_grid_ratio                   = 1,     3,
 parent_time_step_ratio              = 1,     3,
 feedback                            = 1,
 smooth_option                       = 0,
 p_top_requested                     = 1000.,
 /

 &physics
 mp_physics                          = 2,     8,
 progn                               = 0,     0,
 ra_lw_physics                       = 1,     1,
 ra_sw_physics                       = 2,     1,
 radt                                = 40,    10,
 sf_sfclay_physics                   = 2,    2,
 sf_surface_physics                  = 2,    2,
 bl_pbl_physics                      = 2,     1,
 bldt                                = 0,     0,
 cu_physics                          = 3,     1,
 cudt                                = 0,     0,
 cugd_avedx                          = 1,
 isfflx                              = 1,
 ifsnow                              = 0,
 icloud                              = 0,
 surface_input_source                = 1,
 num_soil_layers                     = 4,
 sf_urban_physics                    = 0,
 mp_zero_out                         = 2,
 mp_zero_out_thresh                  = 1.e-12,
 maxiens                             = 1,
 maxens                              = 3,
 maxens2                             = 3,
 maxens3                             = 16,
 ensdim                              = 144,
 cu_rad_feedback                     = .false.,
 cu_diag                             = 1,
 /

 &fdda
 /

 &dynamics
 rk_ord                              = 3,
 w_damping                           = 1,
 diff_opt                            = 1,
 km_opt                              = 4,
 diff_6th_opt                        = 0,      0,
 diff_6th_factor                     = 0.12,   0.12,
 base_temp                           = 290.,
 damp_opt                            = 3,
 zdamp                               = 5000.,  5000.,
 dampcoef                            = 0.01,    0.2,
 khdif                               = 0,      0,
 kvdif                               = 0,      0,
 non_hydrostatic                     = .true., .true.,
 moist_adv_opt                       = 2,
 scalar_adv_opt                      = 2,
 chem_adv_opt                        = 2,
 h_mom_adv_order                     = 5,
 v_mom_adv_order                     = 3,
 h_sca_adv_order                     = 5,
 v_sca_adv_order                     = 3,
 tke_adv_opt                         = 2,
 /

 &bdy_control
 spec_bdy_width                      = 5,
 spec_zone                           = 1,
 relax_zone                          = 4,
 specified                           = .true., .false.,
 nested                              = .false., .true.,
 /

 &grib2
 /

&chem
 kemit                               = 10,
 chem_opt                            = 112,
 bioemdt                             = 3.0,
 photdt                              = 18,
 chemdt                              = 3.0,
 io_style_emissions                  = 2,
 emiss_inpt_opt                      = 111,
 emiss_opt                           = 8,
 chem_in_opt                         = 0,
 phot_opt                            = 3,
 bio_emiss_opt                       = 3,
 dust_opt                            = 1,
 dmsemis_opt                         = 1,
 seas_opt                            = 1,
 gas_bc_opt                          = 112,
 gas_ic_opt                          = 112,
 aer_bc_opt                          = 112,
 aer_ic_opt                          = 112,
 gaschem_onoff                       = 1,
 aerchem_onoff                       = 1,
 wetscav_onoff                       = 0,
 cldchem_onoff                       = 0,
 vertmix_onoff                       = 1,
 chem_conv_tr                        = 1,
 biomass_burn_opt                    = 2,
 plumerisefire_frq                   = 60,
 aer_ra_feedback                     = 0,
 have_bcs_chem                       = .true.,
 gas_drydep_opt                      = 1,
 aer_drydep_opt                      = 1,
 ne_area                             = 118,
 opt_pars_out                        = 1
 scale_fire_emiss                    = .true.,
 have_bcs_upper                      = .true.,
 have_bcs_upper                      = .true.,
 fixed_ubc_inname                    = "ubvals_b40.20th.track1_1996-2005.nc",
 /

 &namelist_quilt
 nio_tasks_per_group = 0,
 nio_groups = 1,
 /
